# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Project-specific ignores
FirLumberWeb/src/FirLumberWeb/FirLumberWeb
FirLumberWeb/bin/
FirLumberWeb/pkg/

# These are because James likes editor plugins
FirLumberWeb/.idea
# ... that are broken
FirLumberWeb/src/github.com/tarm/serial
